html {
    background: linear-gradient(270deg, #d54c4c, #e68435, #9f35e6, #3550e6);
    background-size: 800% 800%;

    -webkit-animation: PageBackground 15s ease infinite;
    -moz-animation: PageBackground 15s ease infinite;
    animation: PageBackground 15s ease infinite;
}

@-webkit-keyframes PageBackground {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}
@-moz-keyframes PageBackground {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}
@keyframes PageBackground { 
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}

.navbar{
    padding: 4pt;
    backdrop-filter: blur(100px);
    background-color: #d54c4c;
    
}

.navbar-dropdown {
    background-color: #d54c4c;
}

.header-text {
    color: white;
}

.text-area {
    display: inline-block;
}

.appicon {
    width: 128px;
    border-radius: 12px;
    float: left;
    margin-right: 16px;
}